In [2]:
import sys
import json
import pandas as pd

In [3]:
df_emp = pd.read_csv('aaa.json')

In [9]:
df_emp

             Name Hire Date   Salary  Sick Days remaining
0  Graham Chapman  03/15/14  50000.0                   10
1     John Cleese  06/01/15  65000.0                    8
2       Eric Idle  05/12/14  45000.0                   10
3     Terry Jones  11/01/13  70000.0                    3
4   Terry Gilliam  08/12/14  48000.0                    7
5   Michael Palin  05/23/13  66000.0                    8

'{"Name":{"0":"Graham Chapman","1":"John Cleese","2":"Eric Idle","3":"Terry Jones","4":"Terry Gilliam","5":"Michael Palin"},"Hire Date":{"0":"03\\/15\\/14","1":"06\\/01\\/15","2":"05\\/12\\/14","3":"11\\/01\\/13","4":"08\\/12\\/14","5":"05\\/23\\/13"},"Salary":{"0":50000.0,"1":65000.0,"2":45000.0,"3":70000.0,"4":48000.0,"5":66000.0},"Sick Days remaining":{"0":10,"1":8,"2":10,"3":3,"4":7,"5":8}}'